<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STEMI-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>STEMI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>065A5F4A1CA2F9E900BED250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>065A5F5E1CA2F9E900BED250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>065A5F691CA2F9E900BED250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06A079451D8D50BE003F565C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
